/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  height: 100%; /* Ensure the body covers the full screen */
  min-height: 100vh;
  background-color: #eef2f7;
  display: grid;
  place-items: center; /* Center the .wrapper on the page */
  font-family: "Manrope", sans-serif;
}

.wrapper {
  max-width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto; /* Columns sized based on content */
  place-items: center; /* Centers the items inside the grid */
}

.item {
  height: 100%;
  width: 100%;
  /* Add padding inside the items */
  /* text-align: center; */
}

.item.item-1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

.item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1em;
}

.item-2 h1 {
  line-height: 1.1;
  color: #454c58;
}
.item-2 p {
  font-size: 0.8rem;
  font-weight: 700;
  color: #7c818c;
}

.author-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}
.author-info img:last-child {
  background-color: #eef1f7;
  border-radius: 50%;
  padding: 0.5em;
  width: 2rem;
  height: 2rem;
  margin-right: 2em;
}

.author-info img:first-child {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author-info__avatar {
  display: flex;
  align-items: center;
}
.author-info__avatar img {
  margin-right: 1em;
}

.author-date {
  color: #b6b9c1;
}

.share-container {
  position: relative;
  display: inline-block;
  /* border: 2px solid red; */
}

.share-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.share-popup {
  position: absolute;
  top: -6rem;
  right: -6rem;
  color: #a6b0c4;
  background: #4b5569;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  z-index: 1000;
}

.share-popup a img {
  background: none;
  width: 0.1rem;
  height: 0.1rem;
}

.share-popup a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
}

/* Hide the popup by default */
.hidden {
  display: none;
}
